body {
  font-family: Arial, sans-serif;
}

#app {
  display: flex;
  justify-content: space-between;
}

#user-profile,
#feed,
#courses {
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
}

#feed {
  width: 40%;
}

#courses {
  width: 30%;
}

#user-profile {
  border: 1px solid #ccc;
}

#feed {
  border: 1px solid #ccc;
}

#courses {
  border: 1px solid #ccc;
}

.post {
  margin-bottom: 20px;
}

.course {
  margin-bottom: 10px;
  margin-top: 0;
}

/* USER PROFILE STYLING */
.user-info.card {
  border: 2px solid #050032; /* Add a subtle border */
  border-radius: 12px; /* Add rounded corners */
  overflow: hidden; /* Ensure content doesn't overflow */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Add a soft shadow */
  background-color: #ffffff; /* Set background color */
}
.user-info.card-content {
  padding: 20px; /* Add padding for content */
}
.user-info.full-name {
  font-size: 18px; /* Adjust font size */
  margin: 0; /* Remove margin */
}

.user-info.username {
  font-size: 14px; /* Adjust font size */
  margin: 5px 0; /* Add margin */
}

.user-info.bio {
  font-size: 14px; /* Adjust font size */
  margin-top: 10px; /* Add margin */
}

.user-info.card-action {
  padding: 10px 20px; /* Add padding for action button */
  text-align: center; /* Center-align action button */
}

.user-info .logout-button {
  background-color: #007bff; /* Set button background color to blue */
  color: #fff; /* Set text color to white */
  border: none; /* Remove border */
  border-radius: 4px; /* Add rounded corners */

  cursor: pointer; /* Add cursor pointer */
  transition: background-color 0.3s; /* Add transition effect */
  margin: 10px;
}

.user-info .logout-button:hover {
  background-color: #0056b3; /* Darken button color on hover */
}

#upload-photo {
  margin-bottom: 20px;
}
.card-image {
  width: 60%;
  height: 60%;
  object-fit: cover;
  margin: 0 auto;
}

.full-name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.center-align {
  text-align: center;
}

#courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#courses .course.card {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.course {
  width: 400px;
  max-width: 400px;
}

.course-price {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.course-name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.course-description {
  font-size: 16px;
  text-align: center;
}
.card-action-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-header h5 {
  font-weight: bold; /* Bold text */
  font-family: Futura;
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Custom styles */
#feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#posts {
  width: 100%;
  max-width: 500px;
}

.post.card {
  margin-bottom: 20px;
}

.post-username {
  margin: 0 0 10px 0;
}

.post-caption {
  margin: 10px 0 10px 0;

  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-weight: 400;
}

.post-image {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  object-fit: cover;
  align-items: center;
  margin: 0 auto;
}

.social-post {
  border: 1px solid #000000;
  background-color: #fefcf3;
  padding: 20px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

.card-action {
  padding: 10px;
  border-top: 1px solid #000000;
}

.likes {
  display: flex;
  align-items: center;
}

.likes-count {
  margin-right: 10px;
}

.like-button {
  border: 1px solid #000000;
  background: none;
  cursor: pointer;
}

.like-button .material-icons {
  font-size: 25px;
  color: #007bff;
}

.comments .comment {
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.new-comment {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.new-comment .comment-input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #e0e0e0;
}

.new-comment button {
  margin: 5px;
  color: #ffffff;
  background: #007bff;
  font-weight: bold;
}

.new-comment button:hover {
  background: #0056b3;
}

#create-post-container {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  border: 2px solid #000d25;

  border-radius: 12px;
}

#new-post-form {
  background: #fefcf3;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#new-post-form input,
#new-post-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #192e47;
  border-radius: 4px;
}

#new-post-form button {
  display: inline-block;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

#new-post-form button:hover {
  background: #0056b3;
}

.separator {
  border: none;
  border-top: 4px solid #000; /* Adjust thickness and color as needed */
  margin: 20px 0; /* Adjust margin as needed */
}
